body{
    background-color: #fff;
}

.logo{
    width: 53%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.perfil{
    width: 170px;
    height: 170px;
    border: 2px solid rgba(22, 22, 22, 0.75);
    border-radius: 4px;
    object-fit: cover;
}

.btn-primary{
    
    font-size: 25px;
    font-family: 'Roboto', cursive;
    font-weight: 200;
    color: #575756;
    letter-spacing: 1px;
    padding: 25px!important;
    /* border: 2px solid rgba(22, 22, 22, 0.75); */
    border-radius: 2px;
    border-color: transparent;
    background: #ffff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;  
}

.btn-primary:hover{
    
    
    color: #111417;
    font-family: 'Roboto', cursive;
    font-weight: 600;
    border-color: #E6E6E6;
    background: #F4F3F4;
    text-decoration: none;
    transition: all 0.8s ease 0s;
}

iframe{
    width: 100%;
    height: auto;
}

@media only screen and (min-device-width: 375px)
    and (max-device-height: 667px) {

    h1{
        font-size: 20px;
        font-weight: 600;
    }
    
    h3{
        font-size: 20px;
        font-weight: 600; 
    }

    .perfil{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 125px;
        height: 125px;
    }

    .btn-primary{
        font-size: 17px;
        padding: 11px!important;        
    }

}
    